@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Atkinson Hyperlegible Next", serif;
    background-image: linear-gradient(to top right, #f8fcef 50%, #f05053);
}

header {
    display: flex;
    gap: 30px;
    align-items: center;
    margin: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightcoral;
}

.content-2 {
    display: flex;
    gap: 30px;
    margin: 30px;
    border: 2px solid rgba(128, 128, 128, 0.223);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(211, 211, 211, 0.285);
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}